# SQL Na Pratica

**Preparando o ambiente**

In [ ]:
!pip install -q sqlalchemy
!pip install -q ipython-sql

%load_ext sql

# Conectando a um banco de dados SQLite em memória
%sql sqlite://

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 8.6 MB/s eta 0:00:00

**Criando uma tabela**

In [ ]:
%%sql create table tbCliente
(CPF VARCHAR(11),
NOME VARCHAR(100),
ENDERECO1 VARCHAR(150),
ENDERECO2 VARCHAR(150),
BAIRRO VARCHAR(50),
CIDADE VARCHAR(50),
ESTADO VARCHAR(50),
CEP VARCHAR(8),
IDADE SMALLINT,
SEXO VARCHAR(1),
LIMITE_CREDITO FLOAT,
VOLUME_COMPRA FLOAT,
PRIMEIRA_COMPRA BIT(1))

 * sqlite://
(sqlite3.OperationalError) table tbCliente already exists
[SQL: create table tbCliente
(CPF VARCHAR(11),
NOME VARCHAR(100),
ENDERECO1 VARCHAR(150),
ENDERECO2 VARCHAR(150),
BAIRRO VARCHAR(50),
CIDADE VARCHAR(50),
ESTADO VARCHAR(50),
CEP VARCHAR(8),
IDADE SMALLINT,
SEXO VARCHAR(1),
LIMITE_CREDITO FLOAT,
VOLUME_COMPRA FLOAT,
PRIMEIRA_COMPRA BIT(1))]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
%sql SELECT * from tbCliente

 * sqlite://
Done.

[('00388934505', 'João da Silva', 'Rua projetada A número 10', '', 'Vila Roman', 'Caratinga', 'Amazonas', '222222', 30, 'M', 10000.0, 2000.0, 0, '1994-01-01'),
 ('12345678900', 'Maria Oliveira', 'Rua A, 123', '', 'Centro', 'São Paulo', 'SP', '01234-567', 35, 'F', 15000.0, 2500.0, 1, '1989-05-15'),
 ('98765432100', 'José Santos', 'Av. B, 456', '', 'Bairro Novo', 'Rio de Janeiro', 'RJ', '89012-345', 28, 'M', 12000.0, 1800.0, 0, '1996-10-20'),
 ('45678912300', 'Ana Silva', 'Rua C, 789', '', 'Jardim das Flores', 'Belo Horizonte', 'MG', '67890-123', 45, 'F', 18000.0, 3000.0, 1, '1977-03-10'),
 ('55555555500', 'Pedro Souza', 'Av. D, 1010', '', 'Praia Grande', 'Santos', 'SP', '76543-210', 32, 'M', 20000.0, 4000.0, 1, '1990-12-25'),
 ('44444444400', 'Juliana Ferreira', 'Rua E, 543', '', 'Vila Mariana', 'São Paulo', 'SP', '54321-098', 40, 'F', 22000.0, 3500.0, 1, '1982-08-30'),
 ('66666666600', 'Rafael Oliveira', 'Rua F, 987', '', 'Centro', 'Curitiba', 'PR', '87654-321', 27, 'M', 13000.0, 2200.0, 0, '1997-07-05'),
 ('77777777700', 'Aline Santos', 'Av. G, 456', '', 'Boa Vista', 'Recife', 'PE', '23456-789', 38, 'F', 19000.0, 2800.0, 1, '1984-04-20'),
 ('88888888800', 'Bruno Silva', 'Rua H, 654', '', 'Jardim América', 'Goiânia', 'GO', '76543-210', 29, 'M', 17000.0, 3200.0, 0, '1995-02-15'),
 ('99999999900', 'Carla Santos', 'Av. I, 321', '', 'Centro', 'Fortaleza', 'CE', '34567-890', 33, 'F', 16000.0, 2600.0, 1, '1988-09-10'),
 ('11111111100', 'Marcos Oliveira', 'Rua J, 987', '', 'Barra da Tijuca', 'Rio de Janeiro', 'RJ', '98765-432', 42, 'M', 23000.0, 3800.0, 1, '1979-06-05'),
 ('22222222200', 'Lúcia Silva', 'Av. K, 234', '', 'Itaim Bibi', 'São Paulo', 'SP', '65432-109', 37, 'F', 21000.0, 2900.0, 0, '1983-01-25'),
 ('33333333300', 'Fernando Santos', 'Rua L, 567', '', 'Boa Viagem', 'Recife', 'PE', '76543-210', 31, 'M', 14000.0, 2400.0, 1, '1993-11-20'),
 ('55555555501', 'Gabriela Oliveira', 'Av. M, 789', '', 'Jardim Europa', 'Porto Alegre', 'RS', '54321-098', 36, 'F', 20000.0, 3300.0, 1, '1986-07-15'),
 ('44444444401', 'Roberto Ferreira', 'Rua N, 321', '', 'Centro', 'Florianópolis', 'SC', '87654-321', 43, 'M', 24000.0, 4200.0, 1, '1976-04-10'),
 ('66666666601', 'Mariana Oliveira', 'Av. O, 543', '', 'Jardins', 'São Paulo', 'SP', '23456-789', 26, 'F', 15000.0, 2000.0, 0, '1998-03-05'),
 ('77777777701', 'Eduardo Santos', 'Rua P, 876', '', 'Boa Vista', 'Recife', 'PE', '76543-210', 39, 'M', 18000.0, 2800.0, 1, '1985-08-30'),
 ('88888888801', 'Amanda Silva', 'Av. Q, 987', '', 'Centro', 'Goiânia', 'GO', '54321-098', 30, 'F', 16000.0, 2500.0, 0, '1994-12-25'),
 ('00388934505', 'João da Silva', 'Rua projetada A número 10', '', 'Vila Roman', 'Caratinga', 'Amazonas', '222222', 30, 'M', 10000.0, 2000.0, 0, '1994-01-01'),
 ('12345678900', 'Maria Oliveira', 'Rua A, 123', '', 'Centro', 'São Paulo', 'SP', '01234-567', 35, 'F', 15000.0, 2500.0, 1, '1989-05-15'),
 ('98765432100', 'José Santos', 'Av. B, 456', '', 'Bairro Novo', 'Rio de Janeiro', 'RJ', '89012-345', 28, 'M', 12000.0, 1800.0, 0, '1996-10-20'),
 ('45678912300', 'Ana Silva', 'Rua C, 789', '', 'Jardim das Flores', 'Belo Horizonte', 'MG', '67890-123', 45, 'F', 18000.0, 3000.0, 1, '1977-03-10'),
 ('55555555500', 'Pedro Souza', 'Av. D, 1010', '', 'Praia Grande', 'Santos', 'SP', '76543-210', 32, 'M', 20000.0, 4000.0, 1, '1990-12-25'),
 ('44444444400', 'Juliana Ferreira', 'Rua E, 543', '', 'Vila Mariana', 'São Paulo', 'SP', '54321-098', 40, 'F', 22000.0, 3500.0, 1, '1982-08-30'),
 ('66666666600', 'Rafael Oliveira', 'Rua F, 987', '', 'Centro', 'Curitiba', 'PR', '87654-321', 27, 'M', 13000.0, 2200.0, 0, '1997-07-05'),
 ('77777777700', 'Aline Santos', 'Av. G, 456', '', 'Boa Vista', 'Recife', 'PE', '23456-789', 38, 'F', 19000.0, 2800.0, 1, '1984-04-20'),
 ('88888888800', 'Bruno Silva', 'Rua H, 654', '', 'Jardim América', 'Goiânia', 'GO', '76543-210', 29, 'M', 17000.0, 3200.0, 0, '1995-02-15'),
 ('99999999900', 'Carla Santos', 'Av. I, 321', '', 'Centro', 'Fortaleza', 'CE', '34567-890', 33, 'F', 16000.0, 2600.0, 1, '1988-09-10'),
 ('11111111100', 'Marcos Oliveira', 'Rua J, 987', '', 'Barra da Tijuca', 'Rio de Janeiro', 'RJ', '98765-432', 42, 'M', 23000.0, 3800.0, 1, '1979-06-05'),
 ('22222222200', 'Lúcia Silva', 'Av. K, 234', '', 'Itaim Bibi', 'São Paulo', 'SP', '65432-109', 37, 'F', 21000.0, 2900.0, 0, '1983-01-25'),
 ('33333333300', 'Fernando Santos', 'Rua L, 567', '', 'Boa Viagem', 'Recife', 'PE', '76543-210', 31, 'M', 14000.0, 2400.0, 1, '1993-11-20'),
 ('55555555501', 'Gabriela Oliveira', 'Av. M, 789', '', 'Jardim Europa', 'Porto Alegre', 'RS', '54321-098', 36, 'F', 20000.0, 3300.0, 1, '1986-07-15'),
 ('44444444401', 'Roberto Ferreira', 'Rua N, 321', '', 'Centro', 'Florianópolis', 'SC', '87654-321', 43, 'M', 24000.0, 4200.0, 1, '1976-04-10'),
 ('66666666601', 'Mariana Oliveira', 'Av. O, 543', '', 'Jardins', 'São Paulo', 'SP', '23456-789', 26, 'F', 15000.0, 2000.0, 0, '1998-03-05'),
 ('77777777701', 'Eduardo Santos', 'Rua P, 876', '', 'Boa Vista', 'Recife', 'PE', '76543-210', 39, 'M', 18000.0, 2800.0, 1, '1985-08-30'),
 ('88888888801', 'Amanda Silva', 'Av. Q, 987', '', 'Centro', 'Goiânia', 'GO', '54321-098', 30, 'F', 16000.0, 2500.0, 0, '1994-12-25')]

**Colocando a coluna CPF como chave primária**

In [ ]:
%sql ALTER TABLE tbCliente ADD PRIMARY KEY (CPF);

 * sqlite://
(sqlite3.OperationalError) near "PRIMARY": syntax error
[SQL: ALTER TABLE tbCliente ADD PRIMARY KEY (CPF);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

**Adcionando uma coluna**

In [ ]:
%sql ALTER TABLE tbCliente ADD COLUMN DATA_NASCIMENTO DATE;

 * sqlite://
(sqlite3.OperationalError) duplicate column name: DATA_NASCIMENTO
[SQL: ALTER TABLE tbCliente ADD COLUMN DATA_NASCIMENTO DATE;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

**Inserindo dados na tabela**

In [ ]:
%%sql INSERT INTO tbCliente (CPF, NOME, ENDERECO1, ENDERECO2, BAIRRO, CIDADE, ESTADO, CEP, IDADE, SEXO, LIMITE_CREDITO, VOLUME_COMPRA, PRIMEIRA_COMPRA, DATA_NASCIMENTO) VALUES
('00388934505', 'João da Silva', 'Rua projetada A número 10', '', 'Vila Roman', 'Caratinga', 'Amazonas', '222222', 30, 'M', 10000.00, 2000, 0, '1994-01-01'),
('12345678900', 'Maria Oliveira', 'Rua A, 123', '', 'Centro', 'São Paulo', 'SP', '01234-567', 35, 'F', 15000.00, 2500, 1, '1989-05-15'),
('98765432100', 'José Santos', 'Av. B, 456', '', 'Bairro Novo', 'Rio de Janeiro', 'RJ', '89012-345', 28, 'M', 12000.00, 1800, 0, '1996-10-20'),
('45678912300', 'Ana Silva', 'Rua C, 789', '', 'Jardim das Flores', 'Belo Horizonte', 'MG', '67890-123', 45, 'F', 18000.00, 3000, 1, '1977-03-10'),
('55555555500', 'Pedro Souza', 'Av. D, 1010', '', 'Praia Grande', 'Santos', 'SP', '76543-210', 32, 'M', 20000.00, 4000, 1, '1990-12-25'),
('44444444400', 'Juliana Ferreira', 'Rua E, 543', '', 'Vila Mariana', 'São Paulo', 'SP', '54321-098', 40, 'F', 22000.00, 3500, 1, '1982-08-30'),
('66666666600', 'Rafael Oliveira', 'Rua F, 987', '', 'Centro', 'Curitiba', 'PR', '87654-321', 27, 'M', 13000.00, 2200, 0, '1997-07-05'),
('77777777700', 'Aline Santos', 'Av. G, 456', '', 'Boa Vista', 'Recife', 'PE', '23456-789', 38, 'F', 19000.00, 2800, 1, '1984-04-20'),
('88888888800', 'Bruno Silva', 'Rua H, 654', '', 'Jardim América', 'Goiânia', 'GO', '76543-210', 29, 'M', 17000.00, 3200, 0, '1995-02-15'),
('99999999900', 'Carla Santos', 'Av. I, 321', '', 'Centro', 'Fortaleza', 'CE', '34567-890', 33, 'F', 16000.00, 2600, 1, '1988-09-10'),
('11111111100', 'Marcos Oliveira', 'Rua J, 987', '', 'Barra da Tijuca', 'Rio de Janeiro', 'RJ', '98765-432', 42, 'M', 23000.00, 3800, 1, '1979-06-05'),
('22222222200', 'Lúcia Silva', 'Av. K, 234', '', 'Itaim Bibi', 'São Paulo', 'SP', '65432-109', 37, 'F', 21000.00, 2900, 0, '1983-01-25'),
('33333333300', 'Fernando Santos', 'Rua L, 567', '', 'Boa Viagem', 'Recife', 'PE', '76543-210', 31, 'M', 14000.00, 2400, 1, '1993-11-20'),
('55555555501', 'Gabriela Oliveira', 'Av. M, 789', '', 'Jardim Europa', 'Porto Alegre', 'RS', '54321-098', 36, 'F', 20000.00, 3300, 1, '1986-07-15'),
('44444444401', 'Roberto Ferreira', 'Rua N, 321', '', 'Centro', 'Florianópolis', 'SC', '87654-321', 43, 'M', 24000.00, 4200, 1, '1976-04-10'),
('66666666601', 'Mariana Oliveira', 'Av. O, 543', '', 'Jardins', 'São Paulo', 'SP', '23456-789', 26, 'F', 15000.00, 2000, 0, '1998-03-05'),
('77777777701', 'Eduardo Santos', 'Rua P, 876', '', 'Boa Vista', 'Recife', 'PE', '76543-210', 39, 'M', 18000.00, 2800, 1, '1985-08-30'),
('88888888801', 'Amanda Silva', 'Av. Q, 987', '', 'Centro', 'Goiânia', 'GO', '54321-098', 30, 'F', 16000.00, 2500, 0, '1994-12-25');

 * sqlite://
18 rows affected.

[]

**Explorando a base de dados**

In [ ]:
#Mostrando o cabeçalho da tabela
%%sql SELECT CPF, NOME, DATA_NASCIMENTO FROM tbcliente LIMIT 5;

 * sqlite://
Done.

[('00388934505', 'João da Silva', '1994-01-01'),
 ('12345678900', 'Maria Oliveira', '1989-05-15'),
 ('98765432100', 'José Santos', '1996-10-20'),
 ('45678912300', 'Ana Silva', '1977-03-10'),
 ('55555555500', 'Pedro Souza', '1990-12-25')]

In [ ]:
#Número de linhas da Tabela
%sql select count(*) from tbcliente;

 * sqlite://
Done.

[(18,)]

In [ ]:
#Número de bairros diferentes condidos na tabela
%sql select distinct(BAIRRO) from tbcliente;

 * sqlite://
Done.

[('Vila Roman',),
 ('Centro',),
 ('Bairro Novo',),
 ('Jardim das Flores',),
 ('Praia Grande',),
 ('Vila Mariana',),
 ('Boa Vista',),
 ('Jardim América',),
 ('Barra da Tijuca',),
 ('Itaim Bibi',),
 ('Boa Viagem',),
 ('Jardim Europa',),
 ('Jardins',)]

In [ ]:
#Valor total de vendas
%sql select sum(VOLUME_COMPRA) as total_vendas from tbCliente;

 * sqlite://
Done.

[(154500.0,)]

**Descobrindo a idade do cliente**

In [ ]:
#no MySQL esse código funcionaria.
#select date(now) - date(DATA_NASCIMENTO) as Idade from tbCliente;
#Mas no sqlite a sintaxe é a sequinte:
#A questão de ter um código limpo e indentado e que não coloque muitos códigos na mesma linha
#mas no ambiente colab usando o SQLITE quando pulo linhas ele da erro.
%sql SELECT STRFTIME('%Y', 'now') - STRFTIME('%Y', DATA_NASCIMENTO) - (STRFTIME('%m-%d', 'now') < STRFTIME('%m-%d', DATA_NASCIMENTO)) AS Idade FROM tbCliente;

 * sqlite://
Done.

[(30,),
 (34,),
 (27,),
 (47,),
 (33,),
 (41,),
 (26,),
 (39,),
 (29,),
 (35,),
 (44,),
 (41,),
 (30,),
 (37,),
 (48,),
 (26,),
 (38,),
 (29,),
 (30,),
 (34,),
 (27,),
 (47,),
 (33,),
 (41,),
 (26,),
 (39,),
 (29,),
 (35,),
 (44,),
 (41,),
 (30,),
 (37,),
 (48,),
 (26,),
 (38,),
 (29,),
 (30,),
 (34,),
 (27,),
 (47,),
 (33,),
 (41,),
 (26,),
 (39,),
 (29,),
 (35,),
 (44,),
 (41,),
 (30,),
 (37,),
 (48,),
 (26,),
 (38,),
 (29,)]

In [ ]:
#Exibindo dados com condicional no caso só esta sendo mostrado
#os valores nos quais a idade do cliente é maior que 22 anos
%sql select * from tbcliente where idade >= 30;

 * sqlite://
Done.

[('00388934505', 'João da Silva', 'Rua projetada A número 10', '', 'Vila Roman', 'Caratinga', 'Amazonas', '222222', 30, 'M', 10000.0, 2000.0, 0, '1994-01-01'),
 ('12345678900', 'Maria Oliveira', 'Rua A, 123', '', 'Centro', 'São Paulo', 'SP', '01234-567', 35, 'F', 15000.0, 2500.0, 1, '1989-05-15'),
 ('45678912300', 'Ana Silva', 'Rua C, 789', '', 'Jardim das Flores', 'Belo Horizonte', 'MG', '67890-123', 45, 'F', 18000.0, 3000.0, 1, '1977-03-10'),
 ('55555555500', 'Pedro Souza', 'Av. D, 1010', '', 'Praia Grande', 'Santos', 'SP', '76543-210', 32, 'M', 20000.0, 4000.0, 1, '1990-12-25'),
 ('44444444400', 'Juliana Ferreira', 'Rua E, 543', '', 'Vila Mariana', 'São Paulo', 'SP', '54321-098', 40, 'F', 22000.0, 3500.0, 1, '1982-08-30'),
 ('77777777700', 'Aline Santos', 'Av. G, 456', '', 'Boa Vista', 'Recife', 'PE', '23456-789', 38, 'F', 19000.0, 2800.0, 1, '1984-04-20'),
 ('99999999900', 'Carla Santos', 'Av. I, 321', '', 'Centro', 'Fortaleza', 'CE', '34567-890', 33, 'F', 16000.0, 2600.0, 1, '1988-09-10'),
 ('11111111100', 'Marcos Oliveira', 'Rua J, 987', '', 'Barra da Tijuca', 'Rio de Janeiro', 'RJ', '98765-432', 42, 'M', 23000.0, 3800.0, 1, '1979-06-05'),
 ('22222222200', 'Lúcia Silva', 'Av. K, 234', '', 'Itaim Bibi', 'São Paulo', 'SP', '65432-109', 37, 'F', 21000.0, 2900.0, 0, '1983-01-25'),
 ('33333333300', 'Fernando Santos', 'Rua L, 567', '', 'Boa Viagem', 'Recife', 'PE', '76543-210', 31, 'M', 14000.0, 2400.0, 1, '1993-11-20'),
 ('55555555501', 'Gabriela Oliveira', 'Av. M, 789', '', 'Jardim Europa', 'Porto Alegre', 'RS', '54321-098', 36, 'F', 20000.0, 3300.0, 1, '1986-07-15'),
 ('44444444401', 'Roberto Ferreira', 'Rua N, 321', '', 'Centro', 'Florianópolis', 'SC', '87654-321', 43, 'M', 24000.0, 4200.0, 1, '1976-04-10'),
 ('77777777701', 'Eduardo Santos', 'Rua P, 876', '', 'Boa Vista', 'Recife', 'PE', '76543-210', 39, 'M', 18000.0, 2800.0, 1, '1985-08-30'),
 ('88888888801', 'Amanda Silva', 'Av. Q, 987', '', 'Centro', 'Goiânia', 'GO', '54321-098', 30, 'F', 16000.0, 2500.0, 0, '1994-12-25'),
 ('00388934505', 'João da Silva', 'Rua projetada A número 10', '', 'Vila Roman', 'Caratinga', 'Amazonas', '222222', 30, 'M', 10000.0, 2000.0, 0, '1994-01-01'),
 ('12345678900', 'Maria Oliveira', 'Rua A, 123', '', 'Centro', 'São Paulo', 'SP', '01234-567', 35, 'F', 15000.0, 2500.0, 1, '1989-05-15'),
 ('45678912300', 'Ana Silva', 'Rua C, 789', '', 'Jardim das Flores', 'Belo Horizonte', 'MG', '67890-123', 45, 'F', 18000.0, 3000.0, 1, '1977-03-10'),
 ('55555555500', 'Pedro Souza', 'Av. D, 1010', '', 'Praia Grande', 'Santos', 'SP', '76543-210', 32, 'M', 20000.0, 4000.0, 1, '1990-12-25'),
 ('44444444400', 'Juliana Ferreira', 'Rua E, 543', '', 'Vila Mariana', 'São Paulo', 'SP', '54321-098', 40, 'F', 22000.0, 3500.0, 1, '1982-08-30'),
 ('77777777700', 'Aline Santos', 'Av. G, 456', '', 'Boa Vista', 'Recife', 'PE', '23456-789', 38, 'F', 19000.0, 2800.0, 1, '1984-04-20'),
 ('99999999900', 'Carla Santos', 'Av. I, 321', '', 'Centro', 'Fortaleza', 'CE', '34567-890', 33, 'F', 16000.0, 2600.0, 1, '1988-09-10'),
 ('11111111100', 'Marcos Oliveira', 'Rua J, 987', '', 'Barra da Tijuca', 'Rio de Janeiro', 'RJ', '98765-432', 42, 'M', 23000.0, 3800.0, 1, '1979-06-05'),
 ('22222222200', 'Lúcia Silva', 'Av. K, 234', '', 'Itaim Bibi', 'São Paulo', 'SP', '65432-109', 37, 'F', 21000.0, 2900.0, 0, '1983-01-25'),
 ('33333333300', 'Fernando Santos', 'Rua L, 567', '', 'Boa Viagem', 'Recife', 'PE', '76543-210', 31, 'M', 14000.0, 2400.0, 1, '1993-11-20'),
 ('55555555501', 'Gabriela Oliveira', 'Av. M, 789', '', 'Jardim Europa', 'Porto Alegre', 'RS', '54321-098', 36, 'F', 20000.0, 3300.0, 1, '1986-07-15'),
 ('44444444401', 'Roberto Ferreira', 'Rua N, 321', '', 'Centro', 'Florianópolis', 'SC', '87654-321', 43, 'M', 24000.0, 4200.0, 1, '1976-04-10'),
 ('77777777701', 'Eduardo Santos', 'Rua P, 876', '', 'Boa Vista', 'Recife', 'PE', '76543-210', 39, 'M', 18000.0, 2800.0, 1, '1985-08-30'),
 ('88888888801', 'Amanda Silva', 'Av. Q, 987', '', 'Centro', 'Goiânia', 'GO', '54321-098', 30, 'F', 16000.0, 2500.0, 0, '1994-12-25'),
 ('00388934505', 'João da Silva', 'Rua projetada A número 10', '', 'Vila Roman', 'Caratinga', 'Amazonas', '222222', 30, 'M', 10000.0, 2000.0, 0, '1994-01-01'),
 ('12345678900', 'Maria Oliveira', 'Rua A, 123', '', 'Centro', 'São Paulo', 'SP', '01234-567', 35, 'F', 15000.0, 2500.0, 1, '1989-05-15'),
 ('45678912300', 'Ana Silva', 'Rua C, 789', '', 'Jardim das Flores', 'Belo Horizonte', 'MG', '67890-123', 45, 'F', 18000.0, 3000.0, 1, '1977-03-10'),
 ('55555555500', 'Pedro Souza', 'Av. D, 1010', '', 'Praia Grande', 'Santos', 'SP', '76543-210', 32, 'M', 20000.0, 4000.0, 1, '1990-12-25'),
 ('44444444400', 'Juliana Ferreira', 'Rua E, 543', '', 'Vila Mariana', 'São Paulo', 'SP', '54321-098', 40, 'F', 22000.0, 3500.0, 1, '1982-08-30'),
 ('77777777700', 'Aline Santos', 'Av. G, 456', '', 'Boa Vista', 'Recife', 'PE', '23456-789', 38, 'F', 19000.0, 2800.0, 1, '1984-04-20'),
 ('99999999900', 'Carla Santos', 'Av. I, 321', '', 'Centro', 'Fortaleza', 'CE', '34567-890', 33, 'F', 16000.0, 2600.0, 1, '1988-09-10'),
 ('11111111100', 'Marcos Oliveira', 'Rua J, 987', '', 'Barra da Tijuca', 'Rio de Janeiro', 'RJ', '98765-432', 42, 'M', 23000.0, 3800.0, 1, '1979-06-05'),
 ('22222222200', 'Lúcia Silva', 'Av. K, 234', '', 'Itaim Bibi', 'São Paulo', 'SP', '65432-109', 37, 'F', 21000.0, 2900.0, 0, '1983-01-25'),
 ('33333333300', 'Fernando Santos', 'Rua L, 567', '', 'Boa Viagem', 'Recife', 'PE', '76543-210', 31, 'M', 14000.0, 2400.0, 1, '1993-11-20'),
 ('55555555501', 'Gabriela Oliveira', 'Av. M, 789', '', 'Jardim Europa', 'Porto Alegre', 'RS', '54321-098', 36, 'F', 20000.0, 3300.0, 1, '1986-07-15'),
 ('44444444401', 'Roberto Ferreira', 'Rua N, 321', '', 'Centro', 'Florianópolis', 'SC', '87654-321', 43, 'M', 24000.0, 4200.0, 1, '1976-04-10'),
 ('77777777701', 'Eduardo Santos', 'Rua P, 876', '', 'Boa Vista', 'Recife', 'PE', '76543-210', 39, 'M', 18000.0, 2800.0, 1, '1985-08-30'),
 ('88888888801', 'Amanda Silva', 'Av. Q, 987', '', 'Centro', 'Goiânia', 'GO', '54321-098', 30, 'F', 16000.0, 2500.0, 0, '1994-12-25')]

**Limite de crédito de cliente entre 20000 e 25000**

Observe que 100% dos que possuem crédito entre 20000 e 25000 tem mais de 30 anos de idade.

In [ ]:
%sql select * from tbCliente where LIMITE_CREDITO between 20000 and 25000;

 * sqlite://
Done.

[('55555555500', 'Pedro Souza', 'Av. D, 1010', '', 'Praia Grande', 'Santos', 'SP', '76543-210', 32, 'M', 20000.0, 4000.0, 1, '1990-12-25'),
 ('44444444400', 'Juliana Ferreira', 'Rua E, 543', '', 'Vila Mariana', 'São Paulo', 'SP', '54321-098', 40, 'F', 22000.0, 3500.0, 1, '1982-08-30'),
 ('11111111100', 'Marcos Oliveira', 'Rua J, 987', '', 'Barra da Tijuca', 'Rio de Janeiro', 'RJ', '98765-432', 42, 'M', 23000.0, 3800.0, 1, '1979-06-05'),
 ('22222222200', 'Lúcia Silva', 'Av. K, 234', '', 'Itaim Bibi', 'São Paulo', 'SP', '65432-109', 37, 'F', 21000.0, 2900.0, 0, '1983-01-25'),
 ('55555555501', 'Gabriela Oliveira', 'Av. M, 789', '', 'Jardim Europa', 'Porto Alegre', 'RS', '54321-098', 36, 'F', 20000.0, 3300.0, 1, '1986-07-15'),
 ('44444444401', 'Roberto Ferreira', 'Rua N, 321', '', 'Centro', 'Florianópolis', 'SC', '87654-321', 43, 'M', 24000.0, 4200.0, 1, '1976-04-10'),
 ('55555555500', 'Pedro Souza', 'Av. D, 1010', '', 'Praia Grande', 'Santos', 'SP', '76543-210', 32, 'M', 20000.0, 4000.0, 1, '1990-12-25'),
 ('44444444400', 'Juliana Ferreira', 'Rua E, 543', '', 'Vila Mariana', 'São Paulo', 'SP', '54321-098', 40, 'F', 22000.0, 3500.0, 1, '1982-08-30'),
 ('11111111100', 'Marcos Oliveira', 'Rua J, 987', '', 'Barra da Tijuca', 'Rio de Janeiro', 'RJ', '98765-432', 42, 'M', 23000.0, 3800.0, 1, '1979-06-05'),
 ('22222222200', 'Lúcia Silva', 'Av. K, 234', '', 'Itaim Bibi', 'São Paulo', 'SP', '65432-109', 37, 'F', 21000.0, 2900.0, 0, '1983-01-25'),
 ('55555555501', 'Gabriela Oliveira', 'Av. M, 789', '', 'Jardim Europa', 'Porto Alegre', 'RS', '54321-098', 36, 'F', 20000.0, 3300.0, 1, '1986-07-15'),
 ('44444444401', 'Roberto Ferreira', 'Rua N, 321', '', 'Centro', 'Florianópolis', 'SC', '87654-321', 43, 'M', 24000.0, 4200.0, 1, '1976-04-10')]

In [ ]:
%sql select * from tbcliente where DATA_NASCIMENTO > '1995-01-13';

 * sqlite://
Done.

[('98765432100', 'José Santos', 'Av. B, 456', '', 'Bairro Novo', 'Rio de Janeiro', 'RJ', '89012-345', 28, 'M', 12000.0, 1800.0, 0, '1996-10-20'),
 ('66666666600', 'Rafael Oliveira', 'Rua F, 987', '', 'Centro', 'Curitiba', 'PR', '87654-321', 27, 'M', 13000.0, 2200.0, 0, '1997-07-05'),
 ('88888888800', 'Bruno Silva', 'Rua H, 654', '', 'Jardim América', 'Goiânia', 'GO', '76543-210', 29, 'M', 17000.0, 3200.0, 0, '1995-02-15'),
 ('66666666601', 'Mariana Oliveira', 'Av. O, 543', '', 'Jardins', 'São Paulo', 'SP', '23456-789', 26, 'F', 15000.0, 2000.0, 0, '1998-03-05'),
 ('98765432100', 'José Santos', 'Av. B, 456', '', 'Bairro Novo', 'Rio de Janeiro', 'RJ', '89012-345', 28, 'M', 12000.0, 1800.0, 0, '1996-10-20'),
 ('66666666600', 'Rafael Oliveira', 'Rua F, 987', '', 'Centro', 'Curitiba', 'PR', '87654-321', 27, 'M', 13000.0, 2200.0, 0, '1997-07-05'),
 ('88888888800', 'Bruno Silva', 'Rua H, 654', '', 'Jardim América', 'Goiânia', 'GO', '76543-210', 29, 'M', 17000.0, 3200.0, 0, '1995-02-15'),
 ('66666666601', 'Mariana Oliveira', 'Av. O, 543', '', 'Jardins', 'São Paulo', 'SP', '23456-789', 26, 'F', 15000.0, 2000.0, 0, '1998-03-05')]

In [ ]:
#No MySQL a sintaxe funcionária somente passando YEAR mas no SQLITE funciona com STRTIME
#Isso irá formatar a data de nascimento no formato de ano (%Y) e então podemos comparar com o ano desejado, neste caso, '1995'.
#%sql select * from tbcliente where year(DATA_NASCIMENTO) = 1996;
%sql SELECT * FROM tbcliente WHERE strftime('%Y', DATA_NASCIMENTO) > '1995';

 * sqlite://
Done.

[('98765432100', 'José Santos', 'Av. B, 456', '', 'Bairro Novo', 'Rio de Janeiro', 'RJ', '89012-345', 28, 'M', 12000.0, 1800.0, 0, '1996-10-20'),
 ('66666666600', 'Rafael Oliveira', 'Rua F, 987', '', 'Centro', 'Curitiba', 'PR', '87654-321', 27, 'M', 13000.0, 2200.0, 0, '1997-07-05'),
 ('66666666601', 'Mariana Oliveira', 'Av. O, 543', '', 'Jardins', 'São Paulo', 'SP', '23456-789', 26, 'F', 15000.0, 2000.0, 0, '1998-03-05'),
 ('98765432100', 'José Santos', 'Av. B, 456', '', 'Bairro Novo', 'Rio de Janeiro', 'RJ', '89012-345', 28, 'M', 12000.0, 1800.0, 0, '1996-10-20'),
 ('66666666600', 'Rafael Oliveira', 'Rua F, 987', '', 'Centro', 'Curitiba', 'PR', '87654-321', 27, 'M', 13000.0, 2200.0, 0, '1997-07-05'),
 ('66666666601', 'Mariana Oliveira', 'Av. O, 543', '', 'Jardins', 'São Paulo', 'SP', '23456-789', 26, 'F', 15000.0, 2000.0, 0, '1998-03-05')]

Filtragem por BAIRRO

In [ ]:
%sql select * from tbCliente where BAIRRO in ('Boa Viagem','Boa Vista','Caratinga');

 * sqlite://
Done.

[('77777777700', 'Aline Santos', 'Av. G, 456', '', 'Boa Vista', 'Recife', 'PE', '23456-789', 38, 'F', 19000.0, 2800.0, 1, '1984-04-20'),
 ('33333333300', 'Fernando Santos', 'Rua L, 567', '', 'Boa Viagem', 'Recife', 'PE', '76543-210', 31, 'M', 14000.0, 2400.0, 1, '1993-11-20'),
 ('77777777701', 'Eduardo Santos', 'Rua P, 876', '', 'Boa Vista', 'Recife', 'PE', '76543-210', 39, 'M', 18000.0, 2800.0, 1, '1985-08-30'),
 ('77777777700', 'Aline Santos', 'Av. G, 456', '', 'Boa Vista', 'Recife', 'PE', '23456-789', 38, 'F', 19000.0, 2800.0, 1, '1984-04-20'),
 ('33333333300', 'Fernando Santos', 'Rua L, 567', '', 'Boa Viagem', 'Recife', 'PE', '76543-210', 31, 'M', 14000.0, 2400.0, 1, '1993-11-20'),
 ('77777777701', 'Eduardo Santos', 'Rua P, 876', '', 'Boa Vista', 'Recife', 'PE', '76543-210', 39, 'M', 18000.0, 2800.0, 1, '1985-08-30')]

Filtragem de idades maior ou iguais a 18 e menor ou igual a 22, sexo masculino ou morador da cidade Barra da tijuca ou Caratinga

In [ ]:
%sql SELECT * FROM tbCliente WHERE (IDADE >= 18 AND IDADE <= 22 AND SEXO = 'M') OR (CIDADE = 'Barra da Tijuca' or CIDADE = 'Caratinga');

 * sqlite://
Done.

[('00388934505', 'João da Silva', 'Rua projetada A número 10', '', 'Vila Roman', 'Caratinga', 'Amazonas', '222222', 30, 'M', 10000.0, 2000.0, 0, '1994-01-01'),
 ('00388934505', 'João da Silva', 'Rua projetada A número 10', '', 'Vila Roman', 'Caratinga', 'Amazonas', '222222', 30, 'M', 10000.0, 2000.0, 0, '1994-01-01')]

Consulta de limite de crédito por Estado

In [ ]:
%sql select ESTADO, sum(LIMITE_CREDITO) as soma_limite from tbCliente group by estado having sum(LIMITE_CREDITO) order by estado desc;

 * sqlite://
Done.

[('SP', 279000.0),
 ('SC', 72000.0),
 ('RS', 60000.0),
 ('RJ', 105000.0),
 ('PR', 39000.0),
 ('PE', 153000.0),
 ('MG', 54000.0),
 ('GO', 99000.0),
 ('CE', 48000.0),
 ('Amazonas', 30000.0)]

Volume de crédito por cidade

In [ ]:
%sql Select Cidade, SUM(LIMITE_CREDITO) as limite_cidade From tbCliente group by cidade order by limite_cidade desc;

 * sqlite://
Done.

[('São Paulo', 219000.0),
 ('Recife', 153000.0),
 ('Rio de Janeiro', 105000.0),
 ('Goiânia', 99000.0),
 ('Florianópolis', 72000.0),
 ('Santos', 60000.0),
 ('Porto Alegre', 60000.0),
 ('Belo Horizonte', 54000.0),
 ('Fortaleza', 48000.0),
 ('Curitiba', 39000.0),
 ('Caratinga', 30000.0)]

**Podemos observar que a ordem de limite de crédito é bem parecida com a ordem de volume total de vendas, indicando que quanto mais crédito o cliente tem mais ele compra.**

In [ ]:
#Volume de vendas por cidade
%sql select CIDADE, sum(VOLUME_COMPRA) as volume_total from tbCliente group by CIDADE order by volume_total desc;

 * sqlite://
Done.

[('São Paulo', 21800.0),
 ('Recife', 16000.0),
 ('Goiânia', 11400.0),
 ('Rio de Janeiro', 11200.0),
 ('Florianópolis', 8400.0),
 ('Santos', 8000.0),
 ('Porto Alegre', 6600.0),
 ('Belo Horizonte', 6000.0),
 ('Fortaleza', 5200.0),
 ('Curitiba', 4400.0),
 ('Caratinga', 4000.0)]

**Observe que 73% do nosso volume de venda são de clientes com idade acima de 29 anos**

In [ ]:

%sql WITH total_vendas AS (SELECT SUM(VOLUME_COMPRA) AS total FROM tbCliente), vendas_maior_29 AS (SELECT SUM(VOLUME_COMPRA) AS total FROM tbCliente WHERE IDADE > 29) SELECT (vendas_maior_29.total * 100.0 / total_vendas.total) AS percentual FROM total_vendas, vendas_maior_29;

 * sqlite://
Done.

[(82.13592233009709,)]

**12% do nosso limite de crédito pertence a pessoas com menos de 29 anos de idade**

In [ ]:
%sql WITH total_credito AS (SELECT SUM(limite_credito) AS total FROM tbCliente),limite_idade AS (SELECT SUM(limite_credito) AS total FROM tbCliente WHERE idade < 29) SELECT (limite_idade.total * 100.0 / total_credito.total) AS percentual FROM total_credito, limite_idade;

 * sqlite://
Done.

[(12.779552715654953,)]

**Se subissemos o limite de crédito dos clientes menores que 29 anos teriamos um lucro maior**